In [1]:
# Importing the modules used for file handling
import pandas as pd

In [2]:
# Function to read in data files
def file_reading(data):
    file = pd.read_csv(f"{data}")
    return file

In [3]:
coffee_data = file_reading("data/merged_data_cleaned.csv")
coffee_data.head(20)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
5,5,Arabica,ji-ae ahn,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,...,Bluish-Green,1,"September 3rd, 2014",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN
6,6,Arabica,hugo valdivia,Peru,NaN,NaN,hvc,NaN,richmond investment-coffee department,NaN,...,Bluish-Green,0,"September 17th, 2013",Specialty Coffee Institute of Asia,726e4891cf2c9a4848768bd34b668124d12c4224,b70da261fcc84831e3e9620c30a8701540abc200,m,NaN,NaN,NaN
7,7,Arabica,ethiopia commodity exchange,Ethiopia,aolme,NaN,c.p.w.e,010/0338,NaN,1570-1700,...,NaN,0,"September 2nd, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,1570.0,1700.0,1635.0
8,8,Arabica,ethiopia commodity exchange,Ethiopia,aolme,NaN,c.p.w.e,010/0338,NaN,1570-1700,...,NaN,0,"September 2nd, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,1570.0,1700.0,1635.0
9,9,Arabica,diamond enterprise plc,Ethiopia,tulla coffee farm,NaN,tulla coffee farm,2014/15,diamond enterprise plc,1795-1850,...,Green,4,"March 29th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1795.0,1850.0,1822.5
10,10,Arabica,mohammed lalo,Ethiopia,fahem coffee plantation,NaN,NaN,NaN,fahem coffee plantation,1855-1955,...,NaN,1,"March 26th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1855.0,1955.0,1905.0
11,11,Arabica,cqi q coffee sample representative,United States,el filo,NaN,NaN,unknown,coffee quality institute,meters above sea level: 1.872,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,1872.0,1872.0,1872.0
12,12,Arabica,cqi q coffee sample representative,United States,los cedros,NaN,NaN,unknown,coffee quality institute,meters above sea level: 1.943,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,1943.0,1943.0,1943.0
13,13,Arabica,grounds for health admin,United States (Hawaii),arianna farms,NaN,NaN,NaN,NaN,2000 ft,...,NaN,2,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,ft,609.6,609.6,609.6
14,14,Arabica,ethiopia commodity exchange,Ethiopia,aolme,NaN,c.p.w.e,010/0338,NaN,1570-1700,...,NaN,2,"August 31st, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,1570.0,1700.0,1635.0
15,15,Arabica,cqi q coffee sample representative,United States,el águila,NaN,NaN,unknown,coffee quality institute,meters above sea level: 2.080,...,NaN,0,"March 12th, 2016",Almacafé,e493c36c2d076bf273064f7ac23ad562af257a25,70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab,m,2080.0,2080.0,2080.0
16,16,Arabica,grounds for health admin,Indonesia,toarco jaya,NaN,NaN,NaN,NaN,1200-1800m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1200.0,1800.0,1500.0
17,17,Arabica,ethiopia commodity exchange,Ethiopia,NaN,NaN,NaN,010/0056,NaN,NaN,...,NaN,2,"June 16th, 2011",Ethiopia Commodity Exchange,a176532400aebdc345cf3d870f84ed3ecab6249e,61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b,m,NaN,NaN,NaN
18,18,Arabica,yunnan coffee exchange,China,echo coffee,YNC-06114,echo coffee mill,NaN,yunnan coffee exchange,1450,...,Green,0,"April 7th, 2017",Yunnan Coffee Exchange,683fa6014608fc10ff681b0435b0b2dbe6df988f,f6d87a6c04653c569d4911a66f89d5e30ce83b93,m,1450.0,1450.0,1450.0
19,19,Arabica,essencecoffee,Ethiopia,drima zede,NaN,drima zede,100181006,essence coffee,1700-2000m,...,NaN,8,"March 24th, 2016",Blossom Valley International,fc45352eee499d8470cf94c9827922fb745bf815,de73fc9412358b523d3a641501e542f31d2668b0,m,1700.0,2000.0,1850.0

In [4]:
# looking at the statistics of the data set
coffee_data.describe()

,Unnamed: 0,Number.of.Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,669.000000,154.182972,7.566706,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,82.089851,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,386.680316,129.987162,0.377560,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,3.500575,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,334.500000,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,81.080000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,669.000000,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,82.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,1003.500000,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,83.670000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,1338.000000,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,90.580000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [5]:
# Seeing if any information is missing
def missing_data(file):
    return file.isnull()

missing_data(coffee_data)
# some data is *NA*

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,True,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,False,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,True,True,True
1335,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1336,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
1337,False,False,False,False,True,True,True,False,False,True,...,False,False,False,False,False,False,False,True,True,True
1338,False,False,False,False,True,True,True,True,False,True,...,False,False,False,False,False,False,False,True,True,True

In [6]:
# Removing the missing data if not important when I analyze
coffee_data.drop("Lot.Number", axis = 1, inplace = True)
coffee_data.drop("Mill", axis = 1, inplace = True)
coffee_data.drop("ICO.Number", axis = 1, inplace = True)
coffee_data.drop("Color", axis = 1, inplace = True)
# Dropping some more columns that I am not going to use
coffee_data.drop("Region", axis = 1, inplace = True)
coffee_data.drop("Company", axis = 1, inplace = True) # This column also has a lot of NaN so bee better to remove it
coffee_data.drop("Producer", axis = 1, inplace = True) # Has a few N
coffee_data.drop("Farm.Name", axis = 1, inplace = True)
coffee_data.drop("Owner", axis = 1, inplace = True)
coffee_data.drop("Species", axis = 1, inplace = True) # Don't need species column since I am looking at origin
coffee_data.drop("Owner.1", axis = 1, inplace = True)
coffee_data.drop("Variety", axis = 1, inplace = True) # Not sure what this column is
coffee_data.drop("In.Country.Partner", axis = 1, inplace = True)
coffee_data.drop("Certification.Address", axis = 1, inplace = True)
coffee_data.drop("Certification.Contact", axis = 1, inplace = True)
coffee_data.drop("unit_of_measurement", axis = 1, inplace = True)
coffee_data.drop("Certification.Body", axis = 1, inplace = True)
coffee_data.drop("Processing.Method", axis = 1, inplace = True)
coffee_data.drop("Grading.Date", axis = 1, inplace = True)
coffee_data.drop("Altitude", axis = 1, inplace = True)
coffee_data.drop("Harvest.Year", axis = 1, inplace = True)
coffee_data.drop("Expiration", axis = 1, inplace = True)

In [7]:
# Changes worked

In [8]:
# Making the unmaded the index for dataframe since there is no need and does the same as default
coffee_data.set_index("Unnamed: 0", inplace = True)

In [9]:
# Checking if changes are made
coffee_data.head()

,Country.of.Origin,Number.of.Bags,Bag.Weight,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,...,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,Ethiopia,300,60 kg,8.67,8.83,8.67,8.75,8.50,8.42,10.0,...,10.0,8.75,90.58,0.12,0,0.0,0,1950.0,2200.0,2075.0
1,Ethiopia,300,60 kg,8.75,8.67,8.50,8.58,8.42,8.42,10.0,...,10.0,8.58,89.92,0.12,0,0.0,1,1950.0,2200.0,2075.0
2,Guatemala,5,1,8.42,8.50,8.42,8.42,8.33,8.42,10.0,...,10.0,9.25,89.75,0.00,0,0.0,0,1600.0,1800.0,1700.0
3,Ethiopia,320,60 kg,8.17,8.58,8.42,8.42,8.50,8.25,10.0,...,10.0,8.67,89.00,0.11,0,0.0,2,1800.0,2200.0,2000.0
4,Ethiopia,300,60 kg,8.25,8.50,8.25,8.50,8.42,8.33,10.0,...,10.0,8.58,88.83,0.12,0,0.0,2,1950.0,2200.0,2075.0

In [10]:
# Statistics for new data set
coffee_data.describe()

,Number.of.Bags,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Category.Two.Defects,altitude_low_meters,altitude_high_meters,altitude_mean_meters
count,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1339.000000,1338.000000,1339.000000,1109.000000,1109.000000,1109.000000
mean,154.182972,7.566706,7.520426,7.401083,7.535706,7.517498,7.518013,9.834877,9.835108,9.856692,7.503376,82.089851,0.088379,0.479462,0.173393,3.556385,1750.713315,1799.347775,1775.030545
std,129.987162,0.377560,0.398442,0.404463,0.379827,0.370064,0.408943,0.554591,0.763946,0.616102,0.473464,3.500575,0.048287,2.549683,0.832121,5.312541,8669.440545,8668.805771,8668.626080
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,14.000000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,81.080000,0.090000,0.000000,0.000000,0.000000,1100.000000,1100.000000,1100.000000
50%,175.000000,7.580000,7.580000,7.420000,7.580000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,82.500000,0.110000,0.000000,0.000000,2.000000,1310.640000,1350.000000,1310.640000
75%,275.000000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,83.670000,0.120000,0.000000,0.000000,4.000000,1600.000000,1650.000000,1600.000000
max,1062.000000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,90.580000,0.280000,63.000000,11.000000,55.000000,190164.000000,190164.000000,190164.000000

In [11]:
coffee_data.to_csv("data/Coffee_Set")